:root {
	--backblue: #0075FF;
}

body {
	margin: 0px;
}
* {
	font-family: 'Times New Roman', Georgia, Times, serif;
}
div.banner{
	background-color: var(--backblue);
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 20px;
}
h1.title {
	text-align: center;
	font-size: clamp(22pt,50pt,min(50pt,5vw));
	margin: auto;
	color: white;
}
img.home, img.git {
	padding: 20px;
	height: clamp(50px, 70px, min(70px, 10vw));
}
img.home {
	margin-right: auto;
}
img.git {
	margin-left: auto;
	margin-right: auto;
}
a.home {
	margin: auto;
	margin-left: 0px;
	transition-duration: 0.4s;
}
a.home:hover, a.git:hover {
	background-color: #2b8eff;
}
a.git {
	margin: auto;
	margin-right: 0px;
	transition-duration: 0.4s;
}
div.union_block {
	display: grid;
	place-items: center;
	margin-bottom: 50px;
}
div.input_block {
	width: clamp(min(400px, 90vw), calc(50vw - 60px), 500px);
	display: grid;
	grid-template-rows: auto auto auto auto auto;
}
div.output_block {
	width: auto;
	display: grid;
	grid-template-rows: auto auto;
}
@media only screen and (min-width: 901px) {
	div.union_block {
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		column-gap: 40px;
	}
	div.input_block {
		margin-left: auto;
	}
	div.output_block {
		margin-right: auto;
	}
	button.download {
		margin-top: clamp(39px, calc(599px - 50vw), 139px);
	}
}
@media only screen and (max-width: 900px) {
	div.union_block {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		row-gap: 40px;
	}
	div.input_block {
		margin-left: auto;
		margin-right: auto;
	}
	div.output_block {
		margin-left: auto;
		margin-right: auto;
	}
	button.download {
		margin-top: 30px;
	}
}
@media only screen and (max-width: 450px) {
	.radio-buttons {
		display: grid;
	    grid-template-columns: auto auto;
		row-gap: 10px;
	}
}
@media only screen and (min-width: 451px) {
	.radio-buttons {
		display: grid;
	    grid-template-columns: auto auto auto auto;
	}
}
.radio-buttons {
	margin-left: auto;
	margin-right: auto;
}
.custom-radio {
	display: inline-block;
	margin-right: 20px;
}
.custom-radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}
.custom-radio label {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}
.custom-radio label:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 13px;
	height: 13px;
	border: 2px solid var(--backblue);
	border-radius: 50%;
}
.custom-radio input[type="radio"]:checked + label:before {
	background-color: var(--backblue);
}
.custom-radio input[type="radio"]:hover + label:before {
  background-color: var(--backblue);
}
textarea.mess {
	resize: none;
	border-radius: 0px;
	border-color: black;
	font-size: 12pt;
}
h2 {
	background-color: var(--backblue);
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-bottom: 15px;
}
h2.instruct_1 {
	margin-top: 0px;
}
h2.instruct_2 {
	margin-top: 15px;
}
button {
	background-color:var(--backblue);
	color: white;
	text-align: center;
	border: 0px;
	padding: 10px;
	cursor: pointer;
	transition-duration: 0.4s;
	font-size: 15px;
}
button.generate:hover {
	background-color: #04AA6D;
}
canvas.code {
	width: clamp(min(400px, 90vw), calc(50vw - 60px), 500px);
}
button.download:hover {
	background-color: red;
}